

body {
    font-family: 'Lato', sans-serif;
    position: absolute;
    margin: 0;
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, red, yellow);
}

@media (min-width: 992px) { /* for PC */
    .interface {
        position: absolute;
        min-height: 100vh;
        width: 35%;
        z-index: 10;
        transform: translateX(33.7vw);
    }

    .players > div {
        min-height: 100vh;
    }
}

@media (max-width: 992px) {  /* for mobile */
    .interface {
        position: absolute;
        z-index: 10;
        transform: translateY(45vh);
        padding: 0;
        margin: 0;
    }

    h1, h5 {
        font-size: small;
    }

}


.interface img {
    max-width: 128px;
    height: auto;
}

.players {
    padding: 0;
    margin: 0;
    position: absolute;
    min-height: 100vh;
}


h1 {
    color: #bbbbbb;
}

.p1, .p2 {
    padding: 10px;
    margin: 0;
    height: fit-content;
}

.player-turn {
    background-color: #ededed;
}

.player-turn h1 {
    color: black;
}

.player-turn h1::after {
    content: "circle";
    font-size: 0.5em;
}

.global-score {
    color: var(--red)
}

.score-box {
    font-size: 5%;
    background-color: var(--red);
    color: white;
    padding: 5px;
}

button {
    border: none;
    background-color: transparent;
    position: absolute;
    font-size: 2vw;
}

*::before, *::after {
    font-family: 'Material Icons';
    color: var(--red);
    padding: 0 10px;
}

#newGame::before {
    content: "control_point";
}

#rollDice::before {
    content: "cached";
}

#hold::before {
    content: "system_update_alt";
}